# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
backend/models/*.pth
backend/models/*.pt
backend/models/*.torchscript

# Virtual Environment
venv/

# Environment Variables (PENTING!)
.env

# Datasets
datasets/exports/*
!datasets/exports/.gitkeep
datasets/labeled/*
!datasets/labeled/.gitkeep
datasets/raw/*
!datasets/raw/.gitkeep

# Storage
backend/storage/annotations/*
!backend/storage/annotations/.gitkeep
backend/storage/batches/*
!backend/storage/batches/.gitkeep
backend/storage/datasets/*
!backend/storage/datasets/.gitkeep
backend/storage/images/*
!backend/storage/images/.gitkeep
backend/storage/projects/*
!backend/storage/projects/.gitkeep

storage/images/*
!storage/images/.gitkeep
build/
dist/